@media screen and (min-width: 1280px){
    .header__lang-link:first-of-type{
        text-decoration-line: underline;
        max-width: 30px;
        margin-left: 931px;
        }
        .header__lang-link{
            
            max-height: 28px;
            margin-top: 46px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: right;
            color: #FFFFFF;
            }
            .header__lang-link:last-of-type{
                text-decoration-line:none;
                max-width: 29px;
                margin-left: 18px;
            }
}
    
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .header__lang-link:first-of-type{
        text-decoration-line: underline;
        max-width: 30px;
        margin-left: 675px;
       }
       .header__lang-link{
        
        max-height: 28px;
        margin-top: 46px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
        }
        .header__lang-link:last-of-type{
            margin-left: 18px;
            max-width: 29px;
            text-decoration-line:none;
        }
}
    
@media screen and (min-width: 768px) and (max-width: 1024px){
       .header__lang-link:first-of-type{
        text-decoration-line: underline;
        margin-left: 467px;
        max-width: 30px;
       }
       .header__lang-link{
        
        max-height: 28px;
        margin-top: 46px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
        }
        .header__lang-link:last-of-type{
            margin-left: 18px;
            max-width: 29px;
            text-decoration-line:none;
        }
}
    
@media screen and (min-width: 320px) and (max-width: 768px){
       .header__lang-link:first-of-type{
        text-decoration-line: underline;
        margin-left: 84px;
        max-width: 22px;
       }
       .header__lang-link{
    
        max-height: 20px;
        margin-top: 30px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
        }
        .header__lang-link:last-of-type{
            margin-left: 18px;
            max-width: 22px;
            text-decoration-line:none;
        }
}