.header__lang-link{ 
        max-height: 28px;
        font-family: "Inter", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        margin-top: 18px;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
        margin-left: 18px;
        max-width: 29px;
        text-decoration-line:none;
}

.header__lang-link:hover{
 opacity: 0.8;       
}
    
@media screen and (min-width: 320px) and (max-width: 767px){
       .header__lang-link{
        max-height: 20px;
        margin-top: 14px;
        font-size: 18px;
        line-height: 20px;
        max-width: 22px;
        }

}