@media screen and (min-width: 1280px){
    .header__lang-link:first-of-type{
        text-decoration-line: underline;
        width: 30px;
        right: 95px;
        }
        .header__lang-link{
            position: absolute;           
            height: 28px;           
            top: 46px;           
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;          
            text-align: right;
            color: #FFFFFF;
            }
            .header__lang-link:last-of-type{
                text-decoration-line:none;
                width: 29px;
                right: 48px;
            }
}
    
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .header__lang-link:first-of-type{
        text-decoration-line: underline;
        width: 30px;
        right: 95px;
       }
       .header__lang-link{
        position: absolute;
        height: 28px;
        top: 46px;       
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;       
        text-align: right;
        color: #FFFFFF;
        }
        .header__lang-link:last-of-type{
            right: 48px;
            width: 29px;
            text-decoration-line:none;
        }
}
    
@media screen and (min-width: 768px) and (max-width: 1024px){
       .header__lang-link:first-of-type{
        text-decoration-line: underline;
        right: 71px;
        width: 30px;
       }
       .header__lang-link{
        position: absolute;
        height: 28px;
        top: 46px;        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
        }
        .header__lang-link:last-of-type{
            right: 24px;
            width: 29px;
            text-decoration-line:none;
        }
}
    
@media screen and (min-width: 320px) and (max-width: 768px){
       .header__lang-link:first-of-type{
        text-decoration-line: underline;
        right: 56px;
        width: 22px;
       }
       .header__lang-link{
        position: absolute;
        height: 20px;
        top: 30px;       
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px; 
        text-align: right;
        color: #FFFFFF;
        }
        .header__lang-link:last-of-type{
            right: 16px;
            width: 22px;
            text-decoration-line:none;
        }
}