.intro__list{
       margin: 0;
       font-weight: 700;
       padding: 0;
       color: #FFFFFF;
       list-style: none;
       font-family: "Inter", "Arial", sans-serif;
}

@media screen and (min-width: 1024px){
    .intro__list{

       max-width: 689px;
        }
}
    
@media screen and (min-width: 768px) and (max-width: 1023px){
       .intro__list{
        max-width: 719px;
       }
}
    
@media screen and (min-width: 320px) and (max-width: 767px){
       .intro__list{
              margin-top: 34px;
              max-width: 288px;
       }
}