.website__url-heading{
       max-width: 456px;
        margin-top: 0px;
        color: #AAAAAA;
}

@media screen and (min-width: 1280px){
    .website__url-heading{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        }
}
    
@media screen and (min-width: 1024px) and (max-width: 1280px){
       .website__url-heading{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;    
       }
}
    
@media screen and (min-width: 768px) and (max-width: 1024px){
       .website__url-heading{
              max-width: 352px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
       }
}
    
@media screen and (min-width: 320px) and (max-width: 768px){
       .website__url-heading{
              max-width: 288px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
       }
}